   /* Google Fonts  */
   
.open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

     /* Reset & Base  */
    
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 
      /* Shared Styles  */

.primary-btn {
  background-color: #4E47FF;
  color: white;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  border: none;
} 

.primary-btn:hover {
  background-color: #3b36cc;
}
.primary-text {
  font-size: 42px;
  font-weight: bold;
}
.primary-color {
  color: #4E47FF;
}

.secondary-color {
  color: #555;}



         /* Header */

header{
    background-image: url(../My-first-assignment/B12A01-landing-launchpad/Assets/Hero-bg.png);
    background-size: cover;
    height: 698px;
}  
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}  
.logo{
     font-size: 34px;
     font-weight: 900;
}
.banner-content{
    text-align: center;
    max-width: 905px;
    margin: 100px auto;
}
.banner-heading{
     font-size: 65px;
    font-weight: bold;
     margin-bottom: 37px;
}     
         /* Action Section */

.action-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 116px 141px 116px 200px;
    gap: 40px

} 
.action-description{
    font-size: 20px;
   margin: 23px 0px;
}  
.action-img {
  max-width: 100%;
  border-radius: 48px;
}      
         /* User Section */

.user-section{
    margin: 116px 141px 116px 200px;
    padding: 50px 142px;
    background-color:lightskyblue;
    text-align: center;
} 
.user-title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 40px;
}
.user-data-section {
  display: flex;
  justify-content: space-around;
}
.user-data .title {
  font-size: 80px;
  font-weight: bold;
  color: #4E47FF;
} 
..user-data .description{
    font-size: 20px;
}       
         /* Feedback Section */